<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Ticketac</title>
    <!-- To add in order to scale the view for mobiles -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
      integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./stylesheets/style.css" />
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="container">
      
      <!-- navbar -->
      <%- include('./navbar') %>
      
      <div class="row wrapper">
        <!--<div class="col-12">-->
          <div class="list-group offset-2 col-8">
          <% for (var i=0;i<journeys.length;i++) { %> 
            <div class="list-group-item journey">
              <div class='col-4'>
                <%= journeys[i].departure %> / <%= journeys[i].arrival %>
              </div>
              <div class='col-4 text-center'>Train departure at</div>
              <div class='col-2 text-right'><%= journeys[i].price %></div>
              <form action='/basket' method='POST'> 
                <input
                  name="id"
                  type="hidden"
                  value=<%= journeys[i]._id %>
                />
                <div><button type="submit" class="btn btn-primary">Ok</button></div>
              </form>
            </div>
          <% } %>
          </div>
        <!--</div>-->
      </div>
    </div>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
    <script src="/javascripts/script.js"></script>
  </body>
</html>
